@charset "UTF-8";
.h2_page {
    position: relative;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: 700;
}

.h2_page::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #333;
    bottom: 0;
    left: 0;
}

.h3_page {
    position: relative;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 10px 20px;
}

.h4_page {
    background: #e6e6e6;
    margin: 20px 0;
    padding: 10px;
    font-weight: 700;
}

.h5_page {
    border-bottom:1px solid #e6e6e6;
    padding-bottom:10px;
    margin-bottom: 15px;
    font-style: italic;
}

.flexBox__form + .h3_page {
    margin-top: 35px;
}

.inputBlock {
    position: relative;
}

.inputForm {
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    font-size: 13px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
}

.inputForm:read-only {
    font-weight:bold;
    background: #e6e6e6;
}

.blockAdvise +.h3_page {
    margin-top: 35px;
}

.radioForm, .labelReg, .chkForm {
    display: inline-block;
    vertical-align: middle;
}


.labelReg {
    margin-left: 5px;
    margin-right: 20px;
}

.labelBlock {
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.inputBlock+.labelBlock {
    margin-top: 20px;
}

.customSelect {
    padding: 0;
    margin: 10px 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    max-height: 40px;
}

.customSelect::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 30%;
    width: 7px;
    height: 7px;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    -moztransform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.customSelect select {
    padding: 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333;
    outline: none;
}

.flexBox__form+.flexBox__form {
    margin: 10px 0;
}

.flexBox__form .inputBlock {
    width: 49%;
}

.flexBox__form .inputBlock--full {
    width: 100% !important;
}

.flexBox__form--2, .flexBox__form--3 {
    flex-wrap: wrap;
}

.flexBox__form--3 .inputBlock {
    width: 32%;
}

.flexBox__form--2 .inputBlock {
    width: 48%;
}

.submitBtn {
    border: none;
    outline: none;
}

.file-custom:after {
    content: 'Chọn hình ảnh' !important;
}

.file-custom:before {
    max-height: 40px !important;
    height: auto !important;
}

.file-custom {
    box-shadow: none !important;
}

.file {
    display: block !important;
    width: 49%;
}

.searchBtn {
    background: url('../img/header/icon_loop.svg') no-repeat center center;
    background-size: 25px 25px;
    height: 40px;
    width: 40px;
    font-size: 0 !important;
    position: absolute;
    right: 0px;
    top: 0;
}

.blockPage {
    border: none;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 20px;
    width: 48%;
}

.customerInfo {
    width: 58%;
}

.customerCard {
    width: 40%;
}

.customerCard img {
    display: block;
    margin-bottom: 10px;
}

.tblPage {
    margin: 25px 0;
    width: 100%;
    border: 1px solid #e6e6e6;
}

.tblPage thead {
    background: #e6e6e6;
    font-weight: 900;
}

.tblPage tr td {
    padding: 10px;
    border: 1px solid #e6e6e6;
}

.tblPage tr:hover {
    background: #f6f6f6;
}

.tblPage tr td.last {
    text-align: center;
}

.tblPage tr td a {
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

.tblPage tr td em {
    font-style: italic;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.tblPage tr td.last a {
    margin: 0 4px;
}

.tblPage tr td.text a  {
    font-size: 12px;
    display: inline-block;
    background: #000;
    padding: 5px 10px;
    color: #fff;
}

.btnSubmit {
    border: none;
    background: #333;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 10px auto 0;
    padding: 0 50px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.btnSubmit.disable, #getData.disable {
    pointer-events: none;
    opacity: .7;
}


.btnSubmit:hover {
    opacity: .6;
}

.loginBlock {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.buttonBar {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.buttonBar .customSelect {
    margin-top: 0;
    margin-right: 10px;
    width: 20%;
}

.buttonBar a {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 15px;
    margin-left: 10px;
}

.buttonBar a:hover, .btnPage:hover  {
    opacity: .7;
}

.btnPage {
    display: inline-block;
    background: #000;
    color: #fff !important;
    padding: 8px 15px;
    margin-right: 10px;
}

.btnPage--ref:hover {
}

.listMange {
    flex-wrap: wrap;
}

.listMange + .listMange {
    margin-top: 10px;
}

.listMange li {
    width: 49%;
}

.listMange a {
    display: block;
    background: #000;
    color: #fff;
    padding: 8px 15px;

}

.buttonBar a:first-child {
    margin-left: 0;
}

.buttonBar a i , .listMange a i{
    margin-right: 5px;
}
.formSearch {
    margin-bottom: 35px;
}

/* TEST */

.blockPage+.blockPage {
    margin-top: 50px;
}

.blockPage--full {
    width: 100%;
}

.blockPage--half {
    width: 49%;
}

.textBox {
    margin: 20px 0;
    padding: 30px 20px;
}

.mt0 {
    margin-top: 0;
}

.mt20 {
    margin-top: 20px;
}

textarea.inputForm {
    margin-top: 15px;
    min-height: 120px;
}

.innerService {
    padding: 20px;
    background: #f6f6f6;
}

/* HIDE */

.blockAdvise, .blockSur, .form_services, .monneyDeposit, .monneyNo {
    display: none;
}


.blockSur {
    margin-top: 20px;
}

.blockFacebook {
    margin-top: 10px;
}

/* COLOR */

.noteIcon em {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    margin: 0 25px 0 5px;
}

.noteColor {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.note--tvv {
    background: #fc0410;
}

.note--pending {
    background: #10befe;
}

.note--bsnk {
    background: #ff7031;
}

.note--quay {
    background: #fce128;
}

.note--bsk {
    background: #5d56da;
}

.note--phauthuat {
    background: #36cf2a;
}

.note--hauphau {
    background: #fb76ea;
}

.note--cskh {
    background: #63fef1;
}

.typeService {
    display: none;
}

.readOnly {
    pointer-events: none;
}

#totalFee {
    background: #ffd6d6;
}
.tabBox {
    display: none;
    padding-top: 20px;
}

.smallLabel {
    display: block;
    font-style: italic;
}

.borderBox {
    padding: 15px;
    border: 1px solid #e6e6e6;
}

.tabItem {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.tabItem li {
    background: #f1f1f1;
    padding: 15px 0;
    text-decoration: underline;
    font-weight: bold;
}

.tabItem li.active {
    background: #c6c6c6;
}


.tabItem--5 li {
    width: 20%;
}

.tabItem--6 li {
    width: 16.666%;
}

.tabItem--4 li {
    width: 25%;
}

.noteRemind {
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
}

.noteRemind--1 {
    background: #fc0410;
}

.noteRemind--3 {
    background: #fce128;
    color: #000;
}

.noteRemind--5 {
    background: #36cf2a;
    color: #000;
}

.noteRemind--10 { 
    background: #fb76ea;
    color: #000;
}

#top .buttonBar {
    margin-top: 30px;
    margin-bottom: 0;
}
.mt40 {
    margin-top: 40px;
}
.mt0 {
    margin-top: 0 !important;
}

.infoPay {
    display: none;
}

.formSearch {
    padding: 0;
    margin: 10px 0 0;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    max-height: 40px;
    margin-bottom: 30px;
}

.methodSearch {
    position: absolute;
    right: 42px;
    top: 3px;
    background: #c6c6c6;
    height: 34px;
    cursor: pointer;
    font-size: 12px;
    width: 18%;
}

.methodSearch::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 30%;
    width: 7px;
    height: 7px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    -moztransform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.methodSearch select {
    padding: 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 12px;
}


.inputNumber input {
    /* color: #fff; */
}

.inputNumber span {
    position: absolute;
    left: 15px;
    top: 10px;
}

.overlay {
    background: rgba(0,0,0,.6);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
}

.popUp {
    position: fixed;
    background: #fff;
    top:50%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    z-index: 550;
    display: none;
}

.addServices {
    padding: 15px 20px;
    margin: 20px 0 5px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.addServices--rmv {
    display: none;
    padding: 15px 20px;
    margin: 20px 0 5px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.addServices:hover {
    opacity: .7;
}

#doctor .tblPage th, #counter .tblPage th, #sugery_detail .tblPage th {
    width: 28%;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}

#print .tblPage th{
    width: 28%;
    padding: 10px 15px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}
#print .tblPage tr td {
    padding: 10px 15px;
}

#print .tblPage tr td .floatR {
    font-weight: bold;
    float: right;
}

#print #footer {
    display: none;
}

.removeItem {
    color: #fc0410 !important;
    opacity: 0;
    -moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-webkit-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.fade {
    opacity: 1;
} 

.noteServices {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 25px;
}

.txtPrint p {
    text-align: center;
}

.txtPrint strong {
    font-weight: bold;
    display: block;
}

.txtPrint em {
    font-style: italic;
    display: block;
    margin-bottom: 100px;
}

.txtHead__print {
    font-size: 10px;
}

.h2_page_print {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0 20px;
}

.hisAdivise li {
    margin-bottom: 25px;
}

.hisAdivise li .date {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.hisAdivise li .adviser {
    text-align: right;
    font-size: 12px;
    font-style: italic;
}

.hisAdivise li div {
    background: #f1f1f1;
    padding: 15px;
}

.checkStyle {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkStyle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkStyle:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkStyle input:checked ~ .checkmark {
    background-color: #000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkStyle input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkStyle .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .h4_page--services {
      text-transform: uppercase;
  }

  .inputNumber__new {
      position: relative;
  }

  .inputNumber__new span {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 40px;
      padding-left: 15px;
  }
  .inputNumber__new input {
      color: #fff;
  }

  .tabItem {
      margin-top: 25px;
  }

  #listBank, #listGuy {
      display: none;
  }

  .txtNote {
      text-align: center;
      font-weight: 700;
  }


  .lock {
      pointer-events: none;
      background: #c6c6c6;
  }

  .lock a {
    pointer-events: none;
  }

  .maxW__print {
      max-width: 900px;
      margin: 40px auto;
  }


  .lockCheck {
    pointer-events: none;
  }


  #print #wrapper {
      width: 100%;
  }

  #print .h3_page,#print .h4_page {
      margin: 10px 0;
      padding: 5px 0 0 5px;
      font-size: 13px;
  }

  #print .flexBox__form + .h3_page {
    margin-top: 20px;
}
#print .inputForm {
    height: 30px;
    line-height: 3px;
}
.mb30 {
    margin-bottom: 30px;
}

.doctor .h5_page {
    margin-top: 25px;
}

.doctorPart .tabBox {
    display: block !important;
}
.btnPrint {
    background: #000;
    color: #fff !important;
    font-size: 12px !important;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
}

.adviserBox {
    background: #f1f1f1;
    padding: 15px;
}

.lockCheck {
    pointer-events: none;
}

.reportBlock p {
    margin-bottom: 25px;
}

.reportBlock table {
        width: 100%;
        border: 1px solid #e6e6e6;
}

.reportBlock table tr td {
    padding: 10px;
    width: 50%;
    border: 1px solid #e6e6e6;
}
    
.reportBlock table tr:hover {
    background: #f6f6f6;
}
    
.reportBlock table tr td.last {
        text-align: center;
}

.imgBox{
    margin-bottom: 25px;
}

.lstImge li {
    width: 25%;
    padding: 5px;
}

#care .h5_page {
    margin-bottom: 20px;
    display: block;
}
#care .customSelect::before {
    top: 70%;
}
.h4_page em {
    color: #36cf2a;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.h4_page span, .h4_page p {
    display: inline-block;
    vertical-align: middle;
}

.h4_page span {
    color: #36cf2a;
}
.servicesDone {
    display: none;
}

.h4_page strong {
    float: right;
    font-size: 16px;
}